<!-- Footer
================================================== -->
<footer id="footer" class="footer">

	<!-- Footer Widget -->
	<div class="footer-widgets">
		<div class="container">
			<div class="row footer-widgets__row footer-widgets__row--is-numbered">
				<div class="col-xs-12 col-sm-6 col-lg-3">
					<!-- Widget: Address -->
					<div class="widget widget--footer">
						<div class="widget__header">
							<h4 class="widget__title">¿Dónde nos ubicamos?</h4>
						</div>
						<div class="widget__content">
							<address>
								<p>
									<a href="https://maps.app.goo.gl/6zoSLeBR9rmPpAJh8" target="_blank">Ver en Google Maps</a><br>
									75 mts Norte de Asembis<br/>
									Calle 8, Avenida 1<br>
									Heredia Centro
								</p>

								<p>
									Email: <a href="mailto:gerencia@enigmata.co.cr">gerencia@enigmata.co.cr</a><br>
									Tel: +506 88420134
								</p>
							</address>
						</div>
					</div>
					<!-- Widget: Address / End -->
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-3">
					<!-- Widget: Schedule -->
					<div class="widget widget--footer widget-schedule">
						<div class="widget__header">
							<h4 class="widget__title">Horario</h4>
						</div>
						<div class="widget__content">
							<ul class="schedule schedule-list">
								<li class="schedule__item">
									<span class="schedule__title">Miércoles a Domingo</span>
									<span class="schedule__time">
										2:00 pm<br/>
										3:30 pm<br/>
										5:00 pm<br/>
										6:30 pm<br/>
										8:00 pm<br/>
									</span>
								</li>
								<li class="schedule__item">
									<span class="schedule__title">Lunes y Martes:</span>
									<span class="schedule__time">Cerrado</span>
								</li>
							</ul>
							<br/>
							Para horarios especiales coordinar por privado
						</div>
					</div>
					<!-- Widget: Schedule / End -->
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-3">
					<!-- Widget: Social Links -->
					<div class="widget widget--footer widget-social">
						<div class="widget__header">
							<h4 class="widget__title">Redes sociales</h4>
						</div>
						<div class="widget__content">
							<ul class="social-links social-links--circle">
								<li class="social-links__item">
									<a class="social-links__link" target="_blank" href="https://www.facebook.com/enigmatacr/"><i class="fab fa-facebook-f"></i></a>
								</li>
								<li class="social-links__item">
									<a class="social-links__link" target="_blank" href="https://www.instagram.com/enigmatacr/"><i class="fab fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- Widget: Social Links / End -->
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-3">
					<!-- Widget: Social Links -->
					<div class="widget widget--footer widget-social">
						<div class="widget__header">
							<h4 class="widget__title">Arcana Cafetería</h4>
						</div>
						<div class="widget__content">
							<p>Una cafetería temática de fantasía con más de 200 juegos de mesa, ubicada junto con el Escape Room</p>
							<ul class="social-links social-links--circle">
								<li class="social-links__item">
									<a class="social-links__link" target="_blank" href="https://www.facebook.com/arcanacafeteria"><i class="fab fa-facebook-f"></i></a>
								</li>
								<li class="social-links__item">
									<a class="social-links__link" target="_blank" href="https://www.instagram.com/arcanacafeteria/"><i class="fab fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- Widget: Social Links / End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Widgets / End -->

	<!-- Footer Copyright -->
	<div class="footer-copyright">
		<div class="container">

			<!-- Logo - Image Based -->
			<div class="footer__logo footer__logo--img">
				<a href="index.html"><img src="assets/img/footer-logo.png" srcset="assets/img/footer-logo@2x.png 2x" alt="Escapium Logo"></a>
			</div>
			<!-- Logo - Image Based / End -->

			<div class="footer-copyright__txt">
				Copyright &copy; 2023 Enigmata Escape Room &nbsp;|&nbsp; All Rights Reserved
			</div>
		</div>
	</div>
	<!-- Footer Copyright / End -->
</footer>
<!-- Footer / End -->

<!-- Search Form -->
<i class="js-search-form-close search-form-close icon-close"></i>
<form action="#" class="search-form-overlay">
	<div class="search-input">
		<input type="text" name="input-search" class="input-search" placeholder="Enter your search...">
		<button type="submit" class="submit">
			<i class="icon-arrow-right"></i>
		</button>
	</div>
</form>
<!-- Search Form / End -->
