<!-- Main Slider -->
<div class="main-slider-wrapper">
	<div class="main-slider js-main-slider">
		<!-- Slide #1 -->
		<div class="main-slider__item main-slider__item--img-1">
			<div class="main-slider__layer main-slider__item-content">
				<h1 class="main-slider__item-title">
					<span data-animation="fadeInUp" data-delay="0.1s">Estarán</span>
					<span data-animation="fadeInUp" data-delay="0.3s">¡Atrapados!</span>
				</h1>
				<a href="elcuarto.html" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">Costo: 10 000 colones por persona</a>
			</div>
		</div>
		<!-- Slide #1 / End -->

		<!-- Slide #2 -->
		<div class="main-slider__item main-slider__item--img-2">
			<div class="main-slider__layer main-slider__item-content">
				<h1 class="main-slider__item-title">
					<span data-animation="fadeInUp" data-delay="0.1s">El tiempo</span>
					<span data-animation="fadeInUp" data-delay="0.3s">corre...</span>
				</h1>
				<a href="elcuarto.html" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">Mínimo 2, máximo 8 personas</a>
			</div>
		</div>
		<!-- Slide #2 / End -->

		<!-- Slide #3 -->
		<div class="main-slider__item main-slider__item--img-4">
			<div class="main-slider__layer main-slider__item-content">
				<h1 class="main-slider__item-title">
					<span data-animation="fadeInUp" data-delay="0.1s">¿Escaparán</span>
					<span data-animation="fadeInUp" data-delay="0.3s">en 60 minutos?</span>
				</h1>
				<a href="elcuarto.html" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">Requiere reservación</a>
			</div>
		</div>
		<!-- Slide #3 / End -->

		<!-- Slide #4 -->
		<div class="main-slider__item main-slider__item--img-3">
			<div class="main-slider__layer main-slider__item-content">
				<h1 class="main-slider__item-title">
					<span data-animation="fadeInUp" data-delay="0.1s">Resuelve el</span>
					<span data-animation="fadeInUp" data-delay="0.3s">enigma</span>
				</h1>
				<a href="elcuarto.html" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">Reserva tu campo</a>
			</div>
		</div>
		<!-- Slide #4 / End -->

	</div>
</div>
<!-- Main Slider / End -->