<!-- Section: Get in Touch -->
<div class="section-content section-content--no-padding section-content--secondary">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col--no-padding">
				<!-- Google Map -->
				
				<div class="gm-map gm-map--lg" data-map-style="shades-of-grey" data-map-address="Central Park, New York, US" data-map-icon="assets/img/gmap-logo.png" data-map-zoom="15">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1818.9762390724065!2d-84.12074703805398!3d9.999850455276142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fac54339f7c9%3A0x926997039e6ceed1!2sEnigmata!5e0!3m2!1ses-419!2scr!4v1702362061694!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<!-- Google Map / End -->
			</div>
			<div class="col-md-6">
				<div class="section-content__inner">
					<div class="section-heading section-heading--divider-top section-heading--left">
						<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Contáctenos</h2>
					</div>
					<!-- Contact Form -->
					<form action="#" id="contact-form">
						<div class="form-group form-group--lg">
							<input type="text" class="form-control" id="contact-name" placeholder="Su nombre...">
						</div>
						<div class="form-group form-group--lg">
							<input type="email" class="form-control" id="contact-email" placeholder="Su correo electrónico...">
						</div>
	
						<div class="form-group form-group--lg">
							<textarea id="contact-message" class="form-control" rows="4" placeholder="Su mensaje..."></textarea>
						</div>
	
						<input type="button" class="btn btn-outline-secondary btn-lg" value="Enviar Mensaje">
					</form>
					<!-- Contact Form / End -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Section: Get in Touch / End -->