<!-- Section: How it works -->
<div class="section-content">
	<div class="container">
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">¿Cómo funciona?</h2>
		</div>

		<div class="row">
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox" data-aos="fade-up" data-aos-duration="800">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-lock"></i>
						</div>
					</div>
					<h3 class="icobox__title">Serán encerrados</h3>
					<div class="icobox__desc">
						No pueden usar celular ni objetos externos, pero dentro encontrarán una gran variedad de objetos útiles... y algunos inútiles.
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-clock"></i>
						</div>
					</div>
					<h3 class="icobox__title">El reloj avanza…</h3>
					<div class="icobox__desc">
						¿Podrán encontrar antes de los 60 minutos el código final usando solo el ingenio, la lógica y la observación?
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="ion-ios-pulse-strong"></i>
						</div>
					</div>
					<h3 class="icobox__title">Gran Ambientación</h3>
					<div class="icobox__desc">
						Luces, sonido y tecnología se combinan para una experiencia inmersiva y realista que pondrá la adrenalina al máximo.<a href="#" class="stretched-link"></a>
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
		</div>

	</div>
</div>
<!-- Section: How it works / End -->
