---
page-heading: "Contacto"
gmap_script: true

breadcrumbs: [
	{
		label: "Contacto"
	}
]
---

<div class="section-content">
	<div class="container">

		<div class="row">
			<div class="col-md-3">

				<h2>Estamos para servirle</h2>
				<p>Si tiene cualquier consulta no dude en contactarnos</p>

				<ul class="contact-info list-unstyled">
					<li class="contact-info__item">
						<span class="contact-info__icon">
							<i class="icon-map"></i>
						</span>
						<div class="contact-info__txt">
							75 mts Norte de Asembis<br>
							Heredia Centro, calle 8 avenida 1
						</div>
					</li>
					<li class="contact-info__item">
						<span class="contact-info__icon">
							<i class="icon-phone"></i>
						</span>
						<div class="contact-info__txt">
							+506 88420134
						</div>
					</li>
					<li class="contact-info__item">
						<span class="contact-info__icon">
							<i class="icon-envelope"></i>
						</span>
						<div class="contact-info__txt">
							<a href="mailto:gerencia@enigmata.co.cr">gerencia@enigmata.co.cr</a>
						</div>
					</li>
				</ul>

			</div>
			<div class="col-md-8 offset-md-1">
				<h2>Envíenos un mensaje</h2>
				<p>El formulario de contacto está temporalmente fuera de servicio. Puede contactarnos directamente por Whatsapp haciendo click en el siguiente botón</p>
				<a class="btn btn-success" href="https://api.whatsapp.com/send?phone=50688420134&text=Hola" target="_blank">Contactar por Whatsapp</a>
				<!-- Contact Form -->
				<!-- form action="#" id="contact-form">

					<div class="row">
						<div class="col-md-6">
							<div class="form-group form-group--lg">
								<input type="text" class="form-control" id="contact-name" placeholder="Nombre">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group form-group--lg">
								<input type="email" class="form-control" id="contact-email" placeholder="Correo">
							</div>
						</div>
					</div>

					<div class="form-group form-group--lg">
						<textarea id="contact-message" class="form-control" rows="8" placeholder="Su mensaje..."></textarea>
					</div>

					<input type="button" class="btn btn-primary btn-lg btn-block" value="Enviar">
				</form -->
				<!-- Contact Form / End -->
			</div>
		</div>

	</div>
</div>

<!-- Google Map -->
<div class="gm-map gm-map--fixed" data-map-style="shades-of-grey" data-map-address="Central Park, New York, US" data-map-icon="{{../root}}assets/img/gmap-logo.png" data-map-zoom="15"></div>
<!-- Google Map / End -->
