---
page-heading: "Paquetes Especiales"

breadcrumbs: [
	{
		label: "Paquetes Especiales"
	}
]
---

<div class="section-content">
	<div class="container">

		<p class="h5">Con la concentración al máximo, juntos resuelven el último acertijo y logran salir faltando apenas unos pocos minutos antes que se acabe el tiempo.  Todos celebran el buen trabajo en equipo...</p>
		<p class="h4">¿Y ahora? ¿Qué hacer? ¿Dónde ir? ¿Alguien más tiene hambre?</p>
		<p>Afortunadamente Enigmata Escape Room está ubicado junto a Arcana Cafetería, un lugar temático de fantasía decorado como una taberna medieval, con cientos de juegos de mesa para todos los gustos y un exquisito menú de cafetería.</p>
		<p>Si busca un lugar dónde hacer su evento especial, en Enigmata + Arcana le ofrecemos la posibilidad de combinar la experiencia de un <strong>juego de escape</strong> con deliciosa comida para sus invitados, acompañados de juegos de mesa, karaoke o hasta eventos al aire libre en el patio de Arcana.</p>
		<p>Arcana es mas que un salón de eventos, es un cálido lugar familiar centrado en la diversión y la fantasía.  Mientras un equipo juega en  el Escape Room, otros equipos pueden esperar su turno jugando juegos famosos como Catán, Dixit, Ticket to Ride, Azul y más.</p>
		<p>El menú de Arcana incluye café de especialidad, batidos de frutas naturales, sandwiches, quesadillas, estofado, repostería variada e incluso opciones vegetarianas. Si para su evento requiere opciones especiales según dietas o restricciones alimenticias con gusto podemos coordinar un menú especial.</p>
		<p>Si esta opción es de su interés, consúltenos directamente para ofrecerle los paquetes especiales que incluyen el Escape Room en conjunto con la alimentación en la cafetería:</p>
		<!-- Paquetes Especiales -->
		<div class="pricing-table-wrapper row">
			<div class="col-md-6">
				<!-- Pricing Table -->
				<div class="pricing-table box">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Grupos normales</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">₡</sup>10 000 p/p</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Para la mayoría de grupos pequeños que solo quieren jugar</div>
						<ul class="pricing-table__list list">
							<li>Pocas personas (menos de 15)</li>
							<li>Solo vienen por la experiencia del Escape Room</li>
							<li>En horario normal</li>
						</ul>
					</div>
					<footer class="pricing-table__footer">
						<a href="/elcuarto.html" class="btn btn-secondary">¡Reserva ya!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

			<div class="col-md-6">
				<!-- Pricing Table -->
				<div class="pricing-table box">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Grupos especiales</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">₡</sup>?? ???</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Para eventos de empresas o celebraciones que además requieren comida.</div>
						<ul class="pricing-table__list list">
							<li>Muchas personas (15 o más)</li>
							<li>Hacen uso de la cafetería mientras esperan su turno.</li>
							<li>El precio incluye Escape Room, alimentación y juegos de mesa.</li>
							<li>Horarios especiales fuera de las horas normales.</li>
							<li>Precio ajustable a la medida de sus necesidades.</li>
						</ul>
					</div>
					<footer class="pricing-table__footer">
						<a href="/contacto.html" class="btn btn-primary">Contáctenos</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

		</div>
		<!-- Paquetes Especiales / End -->



	</div>
</div>
