---
page-heading: "Preguntas frecuentes"

breadcrumbs: [
	{
		label: "Preguntas frecuentes"
	}
]
---

<!-- Section - How to play -->
<div class="section-content">
	<div class="container">
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title">¿Por qué debería jugar?</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox" data-aos="fade-up" data-aos-duration="800">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-trophy"></i>
						</div>
					</div>
					<h3 class="icobox__title">Por el reto</h3>
					<div class="icobox__desc">
						Enigmata es perfecto para enfrentar un reto mental, pero está hecho para todo el mundo. Ven con familia, amigos o pareja a vivir una experiencia interactiva diferente.
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-organization"></i>
						</div>
					</div>
					<h3 class="icobox__title">Por Team Building</h3>
					<div class="icobox__desc">
						Es una gran actividad para empresas, como ejercicio para romper el hielo y unir a los equipos. ¿qué tal premiar al equipo que logre el mejor tiempo?
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-present"></i>
						</div>
					</div>
					<h3 class="icobox__title">Por un evento especial</h3>
					<div class="icobox__desc">
						Cumpleaños, despedidas de solter@, aniversarios, cualquier celebración se puede combinar con un escape room.
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
		</div>
	</div>
</div>
<!-- Section - How to play / End -->


<!-- Section - FAQs -->
<div class="section-content section-content--tertiary">
	<div class="container">
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title">Preguntas Frecuentes</h2>
			<div class="section-heading__subtitle">
				Si su pregunta no está aquí no dude en contactarnos
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 ml-md-auto mr-md-auto">

				<!-- FAQs (accordion) -->
				<div id="faq-accordion" role="tablist" class="accordion">

					<!-- FAQ - 1 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingOne">
							<h3>
								<a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									¿Qué es un Escape Room?
								</a>
							</h3>
						</div>
						<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								El término <a href="https://es.wikipedia.org/wiki/Escape_room" target="_blank">Escape Room</a> se refiere a un juego de aventura físico y mental, donde un grupo de jugadores debe resolver enigmas para "escapar" de una habitación. En Enigmata los llamamos desafíos porque el objetivo no siempre es "escapar".
							</div>
						</div>
					</div>
					<!-- FAQ - 1 / End -->

					<!-- FAQ - 2 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingTwo">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									¿Estaremos realmente encerrados en la habitación? ¿Podemos salir una vez haya empezado?
								</a>
							</h3>
						</div>
						<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								No estarán encerrados. La puerta de entrada siempre estará abierta por emergencias. Una persona estará monitoreando qué ocurre y cómo se desenvuelve el juego en cada momento. Si ocupan salir al baño pueden hacerlo, pero el tiempo no se detiene en ningún momento. El juego no se considera ganado hasta que resuelvan el desafío del cuarto.
							</div>
						</div>
					</div>
					<!-- FAQ - 2 / End -->

					<!-- FAQ - 3 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingThree">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									¿Cuánto dura cada juego? ¿A qué hora debo llegar?
								</a>
							</h3>
						</div>
						<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#faq-accordion">
							<div class="accordion__item-body">
									La duración del juego es de 60 minutos. Pedimos que nuestros clientes se presenten mínimo 15 minutos antes para explicar las normas y la historia del cuarto elegido así como otros 15 tras la finalización para hacer las pertinentes fotos de recuerdo.
							</div>
						</div>
					</div>
					<!-- FAQ - 3 / End -->

					<!-- FAQ - 4 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingFour">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									¿Cuánto cuesta?
								</a>
							</h3>
						</div>
						<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								El precio es de 12 000 colones o USD 20 por persona, sin importar cuántos jugadores sean. <br/>
								Los cumpleañeros no pagan en la semana de su cumpleaños (desde 6 días antes hasta 6 días después). Los acompañantes del cumpleañero si deben pagar.<br/>
								Los menores de 18 años pagan la mitad pero deben entrar acompañados de al menos 1 adulto.  No se permiten menores de 13 años.<br/>

								Para precios especiales por grupos grandes, puede ver la sección de <a href="paquetes.html">Paquetes Especiales</a> o consultarnos directamente por correo o teléfono.
							</div>
						</div>
					</div>
					<!-- FAQ - 4 / End -->

					<!-- FAQ - 5 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingFive">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									¿Debo reservar de forma anticipada?
								</a>
							</h3>
						</div>
						<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								<p>Sí. Para tener un mejor control de la cantidad de jugadores y para evitar posibles problemas requerimos que se inscriban previamente en la sección de “Reservas”. Recibirán un correo que deberán confirmar, de lo contrario la reserva no será válida. Si no recibe el correo, recuerde revisar la carpeta de SPAM pues puede estar ahí. Si no pueden presentarse solicitamos que nos avisen para liberar el campo para otro grupo.</p>
<p>La cantidad de jugadores en la reservación no es vinculante, es decir, no hay problema alguno si el día de la actividad no pueden presentarse todos o si llegan más jugadores que los reservados.							</p>
</div>
						</div>
					</div>
					<!-- FAQ - 5 / End -->

					<!-- FAQ - 6 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingSix">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
									Reservé un cuarto. ¿Puedo reprogramar la fecha?
								</a>
							</h3>
						</div>
						<div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#faq-accordion">
							<div class="accordion__item-body">
Sí. Solo tiene que llamarnos al 88420134 y haremos lo posible para reacomodar el horario a su conveniencia.
							</div>
						</div>
					</div>
					<!-- FAQ - 6 / End -->

					<!-- FAQ - 7 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingSeven">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
									¿Hay límite de edad?
								</a>
							</h3>
						</div>
						<div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#faq-accordion">
							<div class="accordion__item-body">
Por la complejidad de los desafíos, el uso de materiales frágiles y contenido que podría ser no apto para personas sensibles, el límite de edad en la habitación actual es de 13 años.
							</div>
						</div>
					</div>
					<!-- FAQ - 7 / End -->


					<!-- FAQ - 8 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingEight">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
									¿Hay límite de edad?
								</a>
							</h3>
						</div>
						<div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#faq-accordion">
							<div class="accordion__item-body">
Por la complejidad de los desafíos, el uso de materiales frágiles y contenido que podría ser no apto para personas sensibles, el límite de edad en la habitación actual es de 13 años.
							</div>
						</div>
					</div>
					<!-- FAQ - 8 / End -->

										<!-- FAQ - 9 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingNine">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
¿Qué pasa si conseguimos cumplir el desafío antes de 60 minutos? ¿Y si no lo logramos?
								</a>
							</h3>
						</div>
						<div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#faq-accordion">
							<div class="accordion__item-body">
              <p>Al final de cada mes se va a crear un ranking de aquellos que hayan logrado el desafío con el mejor tiempo con la foto del equipo victorioso. El premio por ganar es la satisfacción misma de haberlo logrado.</p>
                <p>Normalmente no damos premios físicos ni monetarios a quienes lo logran.  Es posible sin embargo que en algún momento como parte de una alianza comercial se le dé a los ganadores regalías de parte de comercios asociados pero esto será una situación especial.</p>
                <p>Si se agota el tiempo y aún no han logrado cumplir el desafío, el game master entrará en la habitación y los guiará hacia la salida para hacer la foto de recuerdo.</p>
  							</div>
						</div>
					</div>
					<!-- FAQ - 9 / End -->

										<!-- FAQ - 10 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="heading10">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
¿Qué pasa si necesitamos ayuda durante el juego?								</a>
							</h3>
						</div>
						<div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10" data-parent="#faq-accordion">
							<div class="accordion__item-body">
A cada grupo se le asignará un Game Master para guiarlos y vigilarlos durante toda la experiencia. En caso de que se queden atascados podrán pedir una pista. ¡Pero ojo! A cambio recibirán una penalización de algunos minutos que puede hacerles perder. Todo tiene un precio, ¿verdad?
							</div>
						</div>
					</div>
					<!-- FAQ - 10 / End -->

					
										<!-- FAQ - 10 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="heading11">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
¿Debemos llevar algo? ¿Lápiz? ¿Papel? ¿Celular?								</a>
							</h3>
						</div>
						<div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11" data-parent="#faq-accordion">
							<div class="accordion__item-body">
              <p>No. Las salas vienen equipadas con todo lo necesario. La experiencia está diseñada de manera que no se requiera conocimiento externo al cuarto, todas las pistas y datos estan dentro del mismo.  Las pertenencias personales serán guardadas antes de empezar.</p>
                <p>En el caso de celulares comprendemos y respetamos que ciertas profesiones requieren el estar listos para responder llamadas de celular en todo momento; pero en lo posible rogamos que no lleven celulares dentro del cuarto pues serán una distracción.</p>
  							</div>
						</div>
					</div>
					<!-- FAQ - 10 / End -->


					
										<!-- FAQ - 10 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="heading12">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
¿Qué pasa si llego tarde?								</a>
							</h3>
						</div>
						<div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading12" data-parent="#faq-accordion">
							<div class="accordion__item-body">
>Un atraso en una sesión puede afectar a todas las que vienen después, por lo que pedimos que nuestros clientes se presenten mínimo 15 minutos antes de la hora de la reservación.  Si llegan muy tarde podemos intentar coordinar una nueva sesión o si no hay sesiones reservadas después de la suya, podemos permitirles jugar.  Después de todo entendemos que Heredia es una zona propensa a "presas" de tráfico.  Pero pedimos que sea consciente con los demás jugadores.
							</div>
						</div>
					</div>
					<!-- FAQ - 10 / End -->


					
										<!-- FAQ - 10 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="heading13">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
¿Hay devoluciones?								</a>
							</h3>
						</div>
						<div id="collapse13" class="collapse" role="tabpanel" aria-labelledby="heading13" data-parent="#faq-accordion">
							<div class="accordion__item-body">
Si su sesión de juego se ve afectada por cortes de electricidad o sistemas defectuosos dentro del juego, podemos ofrecerle una devolución.  No hay devoluciones en caso de que no logren vencer el desafío, porque es parte de la experiencia de juego.
							</div>
						</div>
					</div>
					<!-- FAQ - 10 / End -->
					

					
										<!-- FAQ - 10 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="heading15">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
¿Qué habilidades necesito para jugar?								</a>
							</h3>
						</div>
						<div id="collapse15" class="collapse" role="tabpanel" aria-labelledby="heading15" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								<span class="justified">Para resolver el desafío se requiere de diversas habilidades.</span>
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <strong class="center">Búsqueda</strong>

                            <p class="light">Desde objetos ocultos debajo de una mesa hasta pistas presentes a simple vista que solo un ojo observador reconocería, la observación es esencial.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <strong class="center">Lógica</strong>

                            <p class="light">2 afirmaciones que se contradicen, solo 1 es verdad.  Un pensamiento lógico permite deducir cómo se conectan causas y consecuencias.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <strong class="center">Decodificación</strong>

                            <p class="light">Traducir un alfabeto extraterrestre o descubrir el mensaje oculto en una secuencia de números.  Las pistas no siempre son fáciles de leer.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <strong class="center">Reconocimiento de patrones</strong>

                            <p class="light">Los simbolos se repiten una y otra vez. Los colores de esa pintura coinciden con los colores de las llaves. Nuestro cerebro está programado para reconocer patrones.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <strong class="center">Manipulación de objetos</strong>

                            <p class="light">Armar una caña de pescar usando una escoba, un cable y un clip de papel para alcanzar las llaves al otro lado de la habitación. MacGyver estaría orgulloso.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <strong class="center">Trabajo en equipo</strong>

                            <p class="light">No todos tenemos todas las habilidades anteriores.  La comunicación es esencial para que todos participen y demuestren cuales son sus fortalezas.</p>
                        </div>
                    </div>
                </div>
                <span class="justified">Definitivamente no se requiere fuerza física. Rogamos que no hagan uso de fuerza excesiva contra candados, puertas y decoraciones.  Es un juego de ingenio y habilidad, no una competencia de fuerza. <br /><strong>Si quiebran o dañan parte de la decoración nos reservamos el derecho de suspender el juego sin devoluciones.</strong></span>
 
							</div>
						</div>
					</div>
					<!-- FAQ - 10 / End -->
				</div>
				<!-- FAQs (accordion) / End -->

			</div>
		</div>

	</div>
</div>
<!-- Section - FAQs / End -->
