.schedule-table {

}

.schedule-table>thead>tr>th,
.schedule-table>tbody>tr>th,
.schedule-table>tfoot>tr>th,
.schedule-table>thead>tr>td,
.schedule-table>tbody>tr>td,
.schedule-table>tfoot>tr>td {
    padding: 0 5px;
    height: 25px !important;
    position: relative;
}


.schedule-hour {
    position: absolute;
    top: -12px;
    background: #fcfcfc;
    border: solid 1px #ddd;
    height: 26px;
    width: 100%;
    left: 1px;
    text-align: center;
}

.slot {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: absolute;
    border: solid 1px #888;
    width: 100%;
    left: 0;
    top: 0;
    height: 75px;
    z-index: 10;
}


.month01,
.month07 {
    background-color: #b19cd9;
}
.month02,
.month08 {
    background-color: #bae1ff;
}
.month03,
.month09 {
    background-color: #baffc9;
}
.month04,
.month10 {
    background-color: #ffffba;
}
.month05,
.month11 {
    background-color: #ffdfba;
}
.month06,
.month12 {
    background-color: #ffb3ba;
}


.loading .accion-editar,
.accion-editar {
    display: none;
}

.abierto .accion-editar {
    display: block;
}

.loading .accion-abrir,
.abierto .accion-abrir {
    display: none;
}

.bold {
    font-weight: bold;
}